# Next.js frontend envs
# Backend API base URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:3101

# NextAuth (Google)
#NEXTAUTH_URL=http://localhost:3100
#NEXTAUTH_SECRET=replace-with-random-secret
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=
